<h2>Student Registration</h2>

<form method="post">
    <input type="hidden" name="StudentId" value="@ViewBag.StudentId" />

    <label>Username</label>
    <input type="text" name="Username" required />

    <label>Password</label>
    <input type="password" name="Password" required />

    <input type="submit" value="Register" />
</form>
