<h2>Reset Password</h2>

<form method="post">
    <input type="hidden" name="token" value="@ViewBag.Token" />

    <label>New Password</label><br />
    <input type="password" name="newPassword" required />
    <br /><br />

    <button type="submit">Reset Password</button>
</form>
